@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --brand-primary: #0bb58d;
    --brand-secondary: #099171;
    --brand-tertiary: #044838;
}

.bg-brand-primary {
    background-color: var(--brand-primary);
}

.bg-brand-secondary {
    background-color: var(--brand-secondary);
}

.bg-brand-tertiary {
    background-color: var(--brand-tertiary);
}

.color-brand-primary {
    color: var(--brand-primary);
}

.color-brand-secondary {
    color: var(--brand-secondary);
}

.color-brand-tertiary {
    color: var(--brand-tertiary);
}